<a href="https://colab.research.google.com/github/akhilnchandran/Mst_Python_march2024/blob/python%2Ffirst_prgm/3rd_python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
D = {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

name = input("Enter a name: ")

if name in D:
    D[name] = [88, 77, 99]
    print(D)
else:
    print("Name not found.")

Enter a name: john
Name not found.

In [2]:
age = int(input("Enter your age: "))
gender = input("Enter your gender (male/female): ")

ticket_price = 0

if age < 5 or age > 60:
    ticket_price = 0
elif age >= 5 and age <= 12:
    ticket_price = 10
else:
    ticket_price = 50

if gender.lower() == 'female':
    ticket_price *= 0.5

print("Ticket price:", ticket_price)

Enter your age: 16
Enter your gender (male/female): male
Ticket price: 50

In [7]:
list = [2,4,5,32,6,255,5,42]
list.sort()
print("Now it is sorted:", list)
print(list[-2])

Now it is sorted: [2, 4, 5, 5, 6, 32, 42, 255]
42